before_install:
- sudo apt-get -qq update
- sudo apt-get install -y build-essential devscripts devscripts
- chmod +x gradlew
- ./gradlew jfxGenerateKeyStore
language: java
script: ./gradlew jfxNative
matrix:
  include:
  - os: linux
    sudo: required
    dist: trusty
    jdk: oraclejdk8
    env: FAILURES_ALLOWED=false
env:
  global:
  - secure: aMjhykuENke/Po95KanUw0kO6FNBw/XYRfHlrdrQiogxxpcNlo47HB+ivyAFBSV1HPp3E+FIR6Pe8G7Zs0BumtSXK0jf5foGUuvjoiPhVt5sqYYt4XkFkDYQKo5N/rllMkIqgXo819n7k26NQSjDI0SZitgPF/Vf6oQAi2Fyx1HO8R3Ij5scCVRCfznRHmhsDSnN9dnMext0tmKPnWIPRQkd0Fw3iITSD2rdT0VR1P2nV0VsfUdwf02FQAUuW2iLrgjTuAG4OBmI1vgpJbbP7dm7IhGj4Gi1/2k46kWrcaglcnv/0a+B3iGWcFgvnzD0HrJwiZByW7zJ6bv/Qsyba4eCbb3XbeVjuBkprGQCGXo6NvaSmmQx/4y5cJ50809jB+enYIHn54farSAu3gz2CZQWOJaKD58a/OcQeKl721OmUgzd3/bfr0OraW+Zz/dufFHPfrY+U+VNR22CtHGMpUmL6XJUm4UtnpyBTDCe/r5LOw1Tq53RPKI86yKNkY4QDeGr7bBqhEz62qpx+hXJfX6etPvP3Rso4FTfBChBbu+1rsyCIK55jAM0VKr9ccB1togMeNjJOY9YA5cg1Yb17p9n9YiZtAHkMl6LEDqCOC27hloE6pea6f/cFAsxs09ZvpGnWGMK1mBhDCkreooOHGHzVEhnyDzEQ7mieOQAdBk=
  - secure: s42SNvnYElVvLWh9B0P7pd51GNwLaFO8bQ/pX1BuU5i5vyvwBy1oK+bsJJosnwBwlTFgh1+1CSr3gs6r5QL9eP1jTNuVEZ4Qsovzc5/sKmNJ1dj0+24h2ULOOsf3DHO28ZjBya03qWIfGWY+IcJyS5mNxkn2V314KVhOi6kD+GWPkbSdL3hc1iIRPsZNENG60huratj37F+zRKrNfUqurSNUWUWrqOnKnfdac5qFpMnoLTgpFaiAWt7SZyXdCg1u+bYW+LZbCysg9A7p/V3oGxcpZBlbWaiAax1WpML29itDGbEfOJPnR17/eLZvY9zTDJE25RcwskUxVme8GtLIgX4U3ab61BdCBF4/+qqTCXkmCEkZzegEo6iciFfyr1oWilUSSufNiS7o3qRNLnSn+HTROZmEXtwvZz1aKMSniYLTWZrMV8EW9pb41IVgdD+dtYRUJJpC5Xoa/W9pBLw846hBXBG1khPSUjyilV3SU7j5TS1EYZgFwnS0xNCzQRoQuzqYrM9qGJsXU1nF5pUtPOOhlxRfLzd1KceCue4pY3BCo3SFAm4dbm8QyFHDctKh+1uDRFMUw2qMmOo3j5eSe/y9UCYn5IV3Hk+G2gB9Lp/MUV/lrb0WAM93crf27iIKJ06irpvikXqCP2eFoF0s2C2kyQfDLAJ3m2jaErD4ckk=
