/**
 * View change area
 */

.tabScrollPane
{
	-fx-border-width: 0.0px;
	-fx-padding: 0.0 -1.0 0.0 0.0;
	-fx-min-width: 80.0px;
}

.MenuItem
{
    -fx-font-family: FontAwesome;
    -fx-font-size: 4.0em;

	-fx-pref-width: 80.0px;
	-fx-pref-height: 80.0px;

	-fx-min-width: 80.0px;
	-fx-min-height: 80.0px;
	
	-fx-text-fill: white;
}

/**
 * Bottom area
 */

.info-icon
{
    -fx-font-family: FontAwesome;
    -fx-font-size: 1.8em;
	-fx-text-fill: -menu-color;
}

.info-icon:visited
{
    -fx-text-fill: -menu-color;
}

.donate-button
{
    -fx-font-family: FontAwesome;
    -fx-font-size: 1.4em;
	-fx-text-fill: -menu-color;
}

.donate-button:visited
{
    -fx-text-fill: -menu-color;
}

.bottom-bar
{
	-fx-border-width: 1.0 0.0 0.0 0.0;
}

/**
 * ScrollBars
 */

.scroll-bar:vertical .increment-button, .scroll-bar .decrement-button
{
	-fx-max-height: 0.0;
	-fx-min-height: 0.0;
	-fx-pref-height: 0.0;
}

.scroll-bar:horizontal .increment-button, .scroll-bar .decrement-button
{
	-fx-max-width: 0.0;
	-fx-min-width: 0.0;
	-fx-pref-width: 0.0;
}

.scroll-bar .decrement-button .decrement-arrow, .scroll-bar .increment-button .increment-arrow
{
	-fx-background-color: transparent;
}

/**
 * Special
 */

.hyperlink
{
	-fx-border-width: 0.0; /** For correct padding */
	-fx-padding: -2.0 0.0 -2.0 0.0;
}

.copyableLabel, .copyableLabel:focused, .copyableLabel:readonly
{
	-fx-border-width: 0.0;
	-fx-padding: 0.0;
    -fx-background-color: transparent ;
    -fx-background-insets: 0.0px ;
}

.beta-sign
{
	-fx-background-color: -special-button-color;
	-fx-padding: 0.0 10.0 0.0 10.0;
	-fx-background-insets: 0.0 5.0 0.0 5.0;
	-fx-font-weight: bold;
	-fx-background-radius: 3.0;
	
}