*
{
	-special-button-color: #639BE0;
	-mark-color: #538ED7;
	-menu-color: #538ED7;
}

/**
 * Container that contains the elements of the specific view
 */

.viewContent
{
	-fx-padding: 5.0;	
}

.scroll-pane
{
	-fx-background-insets: 0.0
}

.scroll-bar .thumb
{
	-fx-background-color: -mark-color;
	-fx-background-radius: 0.0;
}

.scroll-bar:vertical .increment-button, .scroll-bar .decrement-button
{
	-fx-max-height: 0.0;
	-fx-min-height: 0.0;
	-fx-pref-height: 0.0;
}

.scroll-bar:horizontal .increment-button, .scroll-bar .decrement-button
{
	-fx-max-width: 0.0;
	-fx-min-width: 0.0;
	-fx-pref-width: 0.0;
}

.scroll-bar .decrement-button .decrement-arrow, .scroll-bar .increment-button .increment-arrow
{
	-fx-background-color: transparent;
}

.scroll-bar, .scroll-bar .track-background, .scroll-bar .track
{
	-fx-background-color: transparent;
	-fx-border-width: 0.0;
}

/**
 * TitledPane
 */

.titled-pane .title
{
	-fx-background-radius: 0.0 !important;
	-fx-border-radius: 0.0 !important;
}

/**
 * Hyperlink
 */
 
.hyperlink
{
	-fx-padding: -2.0 0.0 -2.0 0.0;
}

/**
 * TabePane
 */
 
 .tab-header-background
 {
 	-fx-background-color: transparent;
 }

/**
 * MenuBar
 */

.tabPane
{
	-fx-background-color: -menu-color;
}

.tabScrollPane
{
	-fx-border-width: 0.0px;
	-fx-padding: 0.0 -1.0 0.0 0.0;
	-fx-min-width: 80.0px;
}


.MenuItem
{
	-fx-background-color: -menu-color;
	-fx-min-height: 80.0px;
	-fx-min-width: 60.0px;
	-fx-max-height: 0.0px; /* HACK(MSC) keeps StackPane from overgrowing */
	-fx-border-width: 0.0;
}

.MenuItem:hover
{	
	-fx-background-color: -fx-focus-color;
}

.menuItemIcon
{
	-fx-fill: white;
}


/**
 * Special
 */

.info-label-bottom
{
	-fx-padding: 0.0 0.0 0.0 20.0;
}

.beta-sign
{
	-fx-background-color: -special-button-color;
	-fx-padding: 0.0 10.0 0.0 10.0;
	-fx-background-insets: 0.0 5.0 0.0 5.0;
	-fx-font-weight: bold;
	-fx-background-radius: 3.0;
	-fx-text-fill: white;
}

.clickedItem
{
	-fx-background-color: #1F5FAE !important; 
}

.copyableLabel, .copyableLabel:focused 
{
	-fx-padding: 0.0;
    -fx-background-color: transparent ;
    -fx-background-insets: 0.0px ;
}