/**
 * Main
 */
 
.root-pane
{
	-fx-spacing: 1;
}

/**
 * View change area
 */

.tabScrollPane
{
	-fx-border-width: 0.0px;
	-fx-padding: 0.0 -1.0 0.0 0.0;
	-fx-min-width: 80.0px;
	-fx-hbar-policy: never;
}

.MenuItem
{
    -fx-font-family: FontAwesome;
    -fx-font-size: 4.0em;

	-fx-pref-width: 80.0px;
	-fx-pref-height: 80.0px;

	-fx-min-width: 80.0px;
	-fx-min-height: 80.0px;
	
	-fx-text-fill: white;
}

/**
 * Bottom area
 */

.info-icon
{
    -fx-font-family: FontAwesome;
    -fx-font-size: 1.8em;
	-fx-text-fill: -menu-color;
}

.info-icon:visited
{
    -fx-text-fill: -menu-color;
}

.donate-button
{
    -fx-font-family: FontAwesome;
    -fx-font-size: 1.4em;
	-fx-text-fill: -menu-color;
}

.donate-button:visited
{
    -fx-text-fill: -menu-color;
}

.bottom-bar
{
	-fx-border-width: 1.0 0.0 0.0 0.0;
	-fx-padding: 5;
	-fx-spacing: 5;
}

.bottom-bar-custom
{
	-fx-padding: 0.0 10.0 0.0 10.0;
	-fx-spacing: 5.0;
}

.global-progress-bar-container
{
	-fx-spacing: 5.0;
}

/**
 * Special
 */

.hyperlink
{
	-fx-border-width: 0.0; /** For correct padding */
	-fx-padding: -2.0 0.0 -2.0 0.0;
}

.copyableLabel, .copyableLabel:focused, .copyableLabel:readonly
{
	-fx-border-width: 0.0;
	-fx-padding: 0.0;
    -fx-background-color: transparent ;
    -fx-background-insets: 0.0px ;
}

.beta-sign
{
	-fx-background-color: -special-button-color;
	-fx-padding: 0.0 10.0 0.0 10.0;
	-fx-background-insets: 0.0 5.0 0.0 5.0;
	-fx-font-weight: bold;
	-fx-background-radius: 3.0;
}

/**
 * Titled Pane
 */

.titled-pane .title
{
	-fx-padding: 2.0 5.0 2.0 5.0;	
}

/**
 * TabPane
 */
 
 .tab-pane .tab-header-area
 {
 	-fx-padding: 0.0;
 }

/**
 * Tables
 */
 
 .table-view .placeholder .label
 {
 	-fx-padding: 10.0;
 }