/*
 * This section contains general style.
 */

*
{
	-component-background-color: #121212;
	-component-background-color-selected: #404040;
	-menu-color: derive( -component-background-color, -10.0%);
	-mark-color: -component-background-color-selected;
	-border-color: -component-background-color-selected;
	
	-special-button-color: #9239ad;
	
    -fx-text-fill: #CCCCCC;
    -fx-background-color: #212121;
    -component-inner-color: #212121;
	-fx-focus-color: white;
	
	-fx-background-insets: 0.0;
	-fx-border-radius: 0.0;
    -fx-background-radius: 0.0;
}

*:selected
{
    -fx-background-color: -component-background-color-selected !important;
}

/**
 * Focus styles
 */

.combo-box:focused, .text-field:focused, .check-box:focused > .box, .table-view:focused, .spinner:focused, .text-area:focused
{
	-fx-border-color: -fx-focus-color !important;
}

.button:focused
{
	-fx-padding: 4.0;
	-fx-border-color: -fx-focus-color;
}
/**
 * Container that contains the elements of the specific view
 */

.viewContent
{
	-fx-padding: 5.0;	
}

.viewContent > .scroll-bar
{
	-fx-border-width: 0.0px;
}

/**
 * General Component settings
 */

.text-field, .combo-box, .titled-pane
{
	-fx-border-width: 1.0;
	-fx-border-color: -border-color;
}

/**
 * TextArea
 */
 
.text-area
{
	-fx-border-width: 1.0;
	-fx-border-color: -border-color;
}


/**
 * ComboBox
 */

.combo-box > .cell:selected {
    -fx-background-color: inherit !important;
}

/**
 * List
 */

.list-view .list-cell:hover
{
	-fx-background-color: -component-background-color-selected !important;
}

.list-view .list-cell:empty
{
	-fx-background-color: inherit;
}

/**
 * Separator
 */
 
.separator .line
{
	-fx-border-color: -border-color;
}

/**
 * Titled Pane
 */

.titled-pane .content
{
	-fx-border-width: 0.0;
}

.titled-pane .arrow
{
	-fx-background-color: -mark-color;
}

.titled-pane .title
{
	-fx-border-color: -border-color;
	-fx-border-width: 0.0 0.0 1.0 0.0;
}

.titled-pane:collapsed .title
{
	-fx-border-width: 0.0;
}

/**
 * Buttons
 */

.button
{
    -fx-padding: 5.0;
    -fx-background-color: -component-background-color;
}

.button:armed
{
    -fx-background-color: -component-background-color-selected;	
}

.toggle-button
{
    -fx-padding: 5.0;
    -fx-background-color: -component-background-color;
}

/**
 * Context Menus
 */
 
.menu-item:hover, .menu-item:hover > .label
{
	-fx-background-color: -component-background-color-selected;
}

/*
 * Tables
 */

.table-view .column-header-background .nested-column-header
{
	-fx-border-color: -border-color;
	-fx-border-width: 0.0 0.0 1.0 0.0;
}

.table-view .arrow
{
	-fx-background-color: -mark-color;
}

.column-header
{
	-fx-border-width: 0.0 1.0 0.0 1.0;
	-fx-border-insets: 0.0 -1.0 0.0 -1.0;
	-fx-border-color: -border-color;
}

.table-view
{
	-fx-border-color: -border-color; 	
	-fx-border-width: 1.0;
    -fx-background-radius: 0.0;
}

.table-view .placeholder
{
	-fx-padding: 15.0;
}

.table-row-cell
{
	-fx-table-cell-border-color: -border-color;
}

.table-row-cell:selected .table-cell
{
   -fx-background-color: -component-background-color-selected;
}

.table-view .show-hide-columns-button
{
	-fx-border-width: 0.0 0.0 1.0 1.0;
	-fx-border-color: -border-color;
}
.table-view .show-hide-columns-button .show-hide-column-image
{
	-fx-background-color: -mark-color;
}

.hyperlink
{
	-fx-border-width: 0.0;
	-fx-padding: -2.0 0.0 -2.0 0.0;
}

/**
 * ScrollBar
 */

.scroll-bar .thumb
{
	-fx-background-color: -mark-color;
}

.scroll-bar
{
	-fx-border-width: 0.0;
}

.scroll-bar:vertical .increment-button, .scroll-bar .decrement-button
{
	-fx-max-height: 0.0;
	-fx-min-height: 0.0;
	-fx-pref-height: 0.0;
}

.scroll-bar:horizontal .increment-button, .scroll-bar .decrement-button
{
	-fx-max-width: 0.0;
	-fx-min-width: 0.0;
	-fx-pref-width: 0.0;
}

.scroll-bar .decrement-button .decrement-arrow, .scroll-bar .increment-button .increment-arrow
{
	-fx-background-color: transparent;
}

/**
 * Tabs
 */

.tab .headers-region
{
	-fx-min-size: Infinity;
}

.tab
{
	-fx-background-color: -component-inner-color !important;
	-fx-border-width: 1.0;
	-fx-border-color: -border-color;
}

.tab:selected > .tab-container
{
	-fx-border-color: transparent ;
	-fx-background-color: transparent;
}

.tab:selected
{
	-fx-border-color: white;
}

.tab .tab-container .focus-indicator
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.tab .tab-label
{
	-fx-text-fill: white;	
}

/**
 * CheckBoxes
 */
 
.check-box .box
{
	-fx-border-color: -border-color;
}

.check-box:selected
{
	-fx-background-insets: 10000.0; /* HACK(MSC) Fix visible background bug when selected */
}

.check-box:selected > .box > .mark
{
	-fx-background-color: -border-color;
}


/**
 * Tab Pane (Menu)
 */

.viewTitle
{
	-fx-background-color: -component-background-color;
	-fx-padding: 20.0 0.0 20.0 15.0;
	-fx-font-size: 20.0;
}

.tabPane
{
	-fx-background-color: -menu-color;
}

.tabScrollPane
{
	-fx-border-width: 0.0px;
	-fx-padding: 0.0 -1.0 0.0 0.0;
	-fx-min-width: 80.0px;
}

.tabScrollPane .scroll-bar
{
	-fx-border-width: 0.0px;
}

.MenuItem
{
	-fx-background-color: -menu-color;
	-fx-min-height: 80.0px;
	-fx-min-width: 60.0px;
	-fx-max-height: 0.0px; /* HACK(MSC) keeps StackPane from overgrowing */
	-fx-border-width: 0.0;
}

.MenuItem:hover
{
	-fx-background-color: -component-background-color-selected;
}


.menuItemIcon
{
	-fx-fill: white; /* Sets the SVGs colours */
}

.clickedItem
{
	/* The important keeps the color from being override by the MenuItem:hover color */
	-fx-background-color: -special-button-color;
}

/**
 * Spinner
 */
 
.spinner
{
    -fx-border-color: -border-color;

}
.spinner .increment-arrow-button, .spinner .decrement-arrow-button
{
    -fx-background-color: -mark-color;
    -fx-padding: 3.0 5.0 3.0 5.0;
}

.spinner .text-input
{
    -fx-border-width: 0.0;
}

/**
 * Special
 */

.info-label-bottom
{
	-fx-padding: 0.0 0.0 0.0 20.0;
}

.beta-sign
{
	-fx-background-color: -special-button-color;
	-fx-padding: 0.0 10.0 0.0 10.0;
	-fx-background-insets: 0.0 5.0 0.0 5.0;
	-fx-font-weight: bold;
	-fx-background-radius: 3.0;
}

.copyableLabel
{
	-fx-border-width: 0.0;
}

.copyableLabel, .copyableLabel:focused 
{
	-fx-padding: 0.0;
    -fx-background-color: transparent ;
    -fx-background-insets: 0.0px ;
}