*
{
	-special-button-color: #639BE0;
	-mark-color: #538ED7;
	-menu-color: #538ED7;
	-menu-color-selected: #1F5FAE;
}

/**
 * Container that contains the elements of the specific view
 */

.viewContent
{
	-fx-padding: 5.0;	
}

.scroll-pane
{
	-fx-background-insets: 0.0
}

.scroll-bar .thumb
{
	-fx-background-color: -mark-color;
	-fx-background-radius: 0.0;
}

.scroll-bar, .scroll-bar .track-background, .scroll-bar .track
{
	-fx-background-color: transparent;
	-fx-border-width: 0.0;
}

/**
 * TitledPane
 */

.titled-pane .title
{
	-fx-background-radius: 0.0;
	-fx-border-radius: 0.0;
}

/**
 * TabePane
 */
 
 .tab-header-background
 {
 	-fx-background-color: transparent;
 }

.tabPane
{
	-fx-background-color: -menu-color;
}

.MenuItem
{
	-fx-background-color: -menu-color;
}

.MenuItem:selected
{
	-fx-background-color: #1F5FAE;
}


/**
 * Bottom bar
 */

.bottom-bar
{
	-fx-border-color: lightgray;
}

/**
 * Special
 */

.beta-sign
{
	-fx-text-fill: white;
}
