*
{
	-fx-text-fill: #CCCCCC !important;
    -fx-background-color: #212121;
}

#trayNotificationCloseButton {
	-fx-padding: 0;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-background-radius: 0;

    -fx-content-display: graphic-only;
    
    -fx-background-color: transparent;
}

#trayNotificationCloseButton:hover {
	-fx-background-color: rgb(232, 17, 35) !important;
}

#trayNotificationCloseButton #icon
{
	-fx-background-color: white;
	
	-size: 1em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    
	-fx-shape: "M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z";
}

#trayNotificationRootNode
{
	-fx-border-width: 0;
	-fx-background-color: transaprent;
}

#rectangleColor
{
	-fx-background-color: gray;
}

#imageIcon
{
    -size: 5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

#titleLabel
{	
	-fx-padding: 1em 0 0 0;
	-fx-font-size: 1.3em;
	-fx-font-weight: bold;
}
#messageLabel
{
	-fx-font-size: 1.1em;
}
