.installEntry
{
	-fx-padding: 10;
}

.separator
{
	-fx-padding: 10 10 10 15;
}

.installLabel
{
	-fx-padding: 10;
	-fx-font-size: 24;
	-fx-pref-height: 23;
}

.installButton
{
	-fx-background-color: -special-button-color;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-padding: 10;
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-min-width: 100;
	-fx-pref-width: 100;
	-fx-content-display: center;
	-fx-alignment: center;
	-fx-text-fill: white;
}