.installEntry
{
	-fx-padding: 10.0 5.0 10.0 5.0;
}

.separator
{
	-fx-padding: 5.0;
}

.installLabel
{
	-fx-padding: 10.0;
	-fx-font-size: 24.0;
	-fx-pref-height: 23.0;
}

.installButton
{
	-fx-background-color: -special-button-color;
	-fx-background-radius: 0.0;
	-fx-border-radius: 0.0;
	-fx-padding: 10.0;
	-fx-font-size: 14.0;
	-fx-font-weight: bold;
	-fx-min-width: 100.0;
	-fx-pref-width: 100.0;
	-fx-content-display: center;
	-fx-alignment: center;
	-fx-text-fill: white;
}

.installButton:focused
{
	-fx-padding: 9.0;
	-fx-border-color: white;
}