.scroll-pane
{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-effect: null;
}

.scroll-bar .thumb
{
	-fx-background-color: #538ED7;
	-fx-background-radius: 0;
}

.scroll-bar .decrement-button .decrement-arrow
{
	-fx-background-color: #538ED7;
	-fx-background-radius: 0;
}
.scroll-bar .increment-button .increment-arrow
{
	-fx-background-color: #538ED7;
	-fx-background-radius: 0;
}

.titled-pane .title
{
	-fx-background-radius: 0 !important;
	-fx-border-radius: 0 !important;
}

#tabpane
{
	-fx-background-color: #538ED7;
}

#title
{
	-fx-background-color: white;
	-fx-border-color: #639BE0 #FFFFFF #E2E2E1 #FFFFFF;
	-fx-border-width: 3 0 1 0;
}

.MenuItem
{
	-fx-background-color: transparent;
	-fx-min-height: 100px;
	-fx-min-width: 100px;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #639BE0;
}

.MenuItem:hover
{
	-fx-background-color: #1F5FAE;
}

.clickedItem
{
	-fx-background-color: #1F5FAE; 
}

.copyableLabel, .copyableLabel:focused 
{
	-fx-padding: 0;
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}